// main colors
$primary-color: #333;
$secondary-color: #f4f4f4;
$accent-color: #007bff;
$secondary-accent-color: #ddd;

// addition colors
$error-color: #dc3545;
$warning-color: #ffc107;
$success-color: #28a745;

// neutral colors
$white-color: #fff;
$black-color: #000;

// shadow colors
$transparent-error: rgba(220, 53, 69, 0.25);
$transparent-accent: rgba(0, 123, 255, 0.25);


